.menu-operations {
      width: 100px;
}

.menu-enabled {
      width: 70px;
}

.menu-enabled input {
      margin-left:25px;
}

.region-content ul.operation-list {
    list-style-type: none;
    overflow: hidden;
    margin: 0 0;
    padding: 0 0;
}

ul.operation-list li {
    float: left; 
    margin: 0 1em 0 0; 
}

ul.action-links {
    margin: 1em 0;
    padding: 0 20px 0 20px; 
    list-style-type: none;
    overflow: hidden;
}
ul.action-links li {
    float: left; 
    margin: 0 1em 0 0; 
}
ul.action-links a {
    padding-left: 15px; 
    background: transparent url(images/add.png) no-repeat 0 center;
    line-height: 30px; 
}

.column {
    float: left;
    margin: 0 1em 0 0; 
}


